services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\Command\CreateAdminCommand:
        tags:
            - { name: "console.command", command: "app:create-admin" }

    App\Command\AlertNotifyCommand:
        tags:
            - { name: 'console.command', command: 'app:alert-notify' }