services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\Command\CreateAdminCommand:
        tags:
            - { name: "console.command", command: "app:create-admin" }

    App\Command\NotifyAlertsCommand:
        tags:
            - { name: 'console.command', command: 'app:notify-alerts' }

    App\Command\RemindInvitationsCommand:
        tags:
            - { name: 'console.command', command: 'app:remind-invitations' }