parameters:
    app.core_dir: '%kernel.root_dir%/Core'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\Core\:
        resource: '%app.core_dir%/*'
        exclude: '%app.core_dir%/{DTO,Entity,Event,Exception}'


    # ------------------------------ Listeners ------------------------------
    App\Core\Listener\UpdateListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: prePersist }
            - { name: 'doctrine.orm.entity_listener', event: preUpdate }

    App\Core\Listener\InvitationListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: postPersist }

    App\Core\Listener\PictureListener:
        arguments:
            $directoryPath: '%app.upload_directory%'
        tags:
            - { name: 'doctrine.orm.entity_listener', event: prePersist }
            - { name: 'doctrine.orm.entity_listener', event: preUpdate }
            - { name: 'doctrine.orm.entity_listener', event: postPersist }
            - { name: 'doctrine.orm.entity_listener', event: postUpdate }
            - { name: 'doctrine.orm.entity_listener', event: postRemove }

    App\Core\Listener\UserListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: prePersist }
            - { name: 'doctrine.orm.entity_listener', event: preUpdate }

    App\Core\Listener\CacheDriverListener:
        arguments:
            $cacheProvider: '@coloc_matching.doctrine_cache.apcu'
            $lifeTime: 3600
        tags:
            - { name: 'doctrine.orm.entity_listener', event: postPersist }
            - { name: 'doctrine.orm.entity_listener', event: postUpdate }
            - { name: 'doctrine.orm.entity_listener', event: postRemove }


    # ------------------------------ Others ------------------------------
    App\Core\Form\DataTransformer\StringToAddressTransformer:
        arguments:
            $region: '%geocoder.region%'
            $apiKey: '%geocoder.google.api_key%'

    App\Core\Service\MailerService:
        arguments:
            $from: '%app.mailer_default_sender%'

    App\Core\Manager\Notification\MailManager:
        arguments:
            $from: '%app.mailer_default_sender%'
