<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		{# User info box #}
		<div class="info-box">
			<span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>
			
			<div class="info-box-content">
				<span class="info-box-text">{{ "label.info.users.total"|trans }}</span>
				<span class="info-box-number">1000</span>
			</div>
		</div>
	</div>
	
	{# Announcement info box #}
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-question"></i></span>
			
			<div class="info-box-content">
				<span class="info-box-text">{{ "label.info.announcements.total"|trans }}</span>
				<span class="info-box-number">500</span>
			</div>
		</div>
	</div>
	
	{# Messages info box #}
	<div class="col-md-3 col-sm-6 col-xs-12"></div>
</div>
