framework:
    secret: '%env(APP_SECRET)%'
    form:
        csrf_protection:
            enabled: false
    default_locale:  "%locale%"
    session: ~
    trusted_hosts: ~
    fragments:  ~
    http_method_override: true
    assets:
        base_urls:
            - 'https://coloc-matching.api'
            - 'http://coloc-matching.api'
    php_errors:
        log: true
    serializer:
        enabled: false
    cache: ~
    # Put the unique name of your app here: the prefix seed
    # is used to compute stable namespaces for cache keys.
    #prefix_seed: your_vendor_name/app_name

    # The app cache caches to the filesystem by default.
    # Other options include:

    # Redis
    #app: cache.adapter.redis
    #default_redis_provider: redis://localhost

    # APCu (not recommended with heavy random-write workloads as memory fragmentation can cause perf issues)
    #app: cache.adapter.apcu
