# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> coloc-matching app dev vars ###
MAILER_NO_REPLY_ADDRESS=no-reply@coloc-matching.fr
###< coloc-matching app dev vars ###


###> coloc-matching front app ###
FRONT_APP_HOST=localhost
FRONT_APP_SCHEME=http
FRONT_APP_REGISTRATION_CONFIRMATION_PATH=/registration/confirmation
FRONT_APP_LOST_PASSWORD_PATH=/password/lost
FRONT_APP_USER_PATH=/users/{id}
FRONT_APP_ANNOUNCEMENT_PATH=/announcements/{id}
FRONT_APP_GROUP_PATH=/groups/{id}
###< coloc-matching front app ###


###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=ea6b2dd22c32a274cc70130cea47bc0e
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###


###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###


###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE=551aab3a2bb1f5f7cb4931d6021006db
JWT_TOKEN_TTL=86400
###< lexik/jwt-authentication-bundle ###


###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
###< google/apiclient ###


###> facebook/graph-sdk ###
FB_CLIENT_ID=
FB_CLIENT_SECRET=
###< facebook/graph-sdk ###


###> google geocoder ###
GOOGLE_GEOCODER_API_KEY=
GOOGLE_GEOCODER_REGION=
###< google geocoder ###


###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###


###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
