services:
    coloc_matching.core.announcement_listener:
        class: ColocMatching\CoreBundle\Listener\AnnouncementListener
        arguments:
            - "@coloc_matching.core.historic_announcement_manager"
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener", event: preRemove }


    coloc_matching.core.updatable_listener:
        class: ColocMatching\CoreBundle\Listener\UpdatableListener
        arguments:
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener", event: prePersist }
            - { name: "doctrine.orm.entity_listener", event: preUpdate }


    coloc_matching.core.visitable_event_subscriber:
        class: ColocMatching\CoreBundle\Listener\VisitableEventSubscriber
        arguments:
            - "@coloc_matching.core.announcement_visit_manager"
            - "@coloc_matching.core.group_visit_manager"
            - "@coloc_matching.core.user_visit_manager"
            - "@logger"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.announcement.visited" }
            - { name: "kernel.event_subscriber", event: "coloc_matching.group.visited" }
            - { name: "kernel.event_subscriber", event: "coloc_matching.user.visited" }


    coloc_matching.core.invitation_listener:
        class: ColocMatching\CoreBundle\Listener\InvitationListener
        arguments:
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener", event: postPersist }


    coloc_matching.core.picture_listener:
        class: ColocMatching\CoreBundle\Listener\PictureListener
        arguments: ["%upload_directory%", "@logger"]
        tags:
            - { name: "doctrine.orm.entity_listener", event: prePersist }
            - { name: "doctrine.orm.entity_listener", event: preUpdate }
            - { name: "doctrine.orm.entity_listener", event: postPersist }
            - { name: "doctrine.orm.entity_listener", event: postUpdate }
            - { name: "doctrine.orm.entity_listener", event: postRemove }


    coloc_matching.rest.registration_event_subscriber:
        class: ColocMatching\CoreBundle\Listener\RegistrationEventSubscriber
        arguments:
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@lexik_jwt_authentication.encoder"
            - "@router"
            - "@logger"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.user.registered" }
