services:
    coloc_matching.core.update_listener:
            class: ColocMatching\CoreBundle\Listener\UpdateListener
            arguments:
                - "@logger"
            tags:
                - { name: "doctrine.orm.entity_listener", event: prePersist }
                - { name: "doctrine.orm.entity_listener", event: preUpdate }


    coloc_matching.core.invitation_listener:
        class: ColocMatching\CoreBundle\Listener\InvitationListener
        arguments:
            - "@logger"
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@coloc_matching.core.announcement_dao"
            - "@coloc_matching.core.group_dao"
            - "@coloc_matching.core.user_dto_mapper"
        tags:
            - { name: "doctrine.orm.entity_listener", event: postPersist }


    coloc_matching.core.picture_listener:
        class: ColocMatching\CoreBundle\Listener\PictureListener
        arguments: ["%upload_directory%", "@logger"]
        tags:
            - { name: "doctrine.orm.entity_listener", event: prePersist }
            - { name: "doctrine.orm.entity_listener", event: preUpdate }
            - { name: "doctrine.orm.entity_listener", event: postPersist }
            - { name: "doctrine.orm.entity_listener", event: postUpdate }
            - { name: "doctrine.orm.entity_listener", event: postRemove }


    coloc_matching.core.delete_announcement_event_subscriber:
        class: ColocMatching\CoreBundle\Listener\DeleteAnnouncementEventSubscriber
        arguments:
            - "@logger"
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@doctrine.orm.entity_manager"
            - "@coloc_matching.core.user_dto_mapper"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.announcement.deleted" }
