services:
    # ----------  Providers  ----------
    coloc_matching.core.user_provider:
        class: ColocMatching\CoreBundle\Security\User\UserProvider
        arguments: ["@coloc_matching.core.user_manager"]
        
        
    # -------- EntityValidator -------
    coloc_matching.core.entity_validator:
        class: ColocMatching\CoreBundle\Manager\EntityValidator
        arguments: ["@logger", "@form.factory"]


    # -----------  Managers ----------
    coloc_matching.core.user_manager:
        class: ColocMatching\CoreBundle\Manager\User\UserManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:User\\User"
            - "@coloc_matching.core.entity_validator"
            - "@security.password_encoder"
            - "@logger"
        
    coloc_matching.core.announcement_manager:
        class: ColocMatching\CoreBundle\Manager\Announcement\AnnouncementManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Announcement\\Announcement"
            - "@coloc_matching.core.entity_validator"
            - "@logger"
        
        
    # ----------- FormTypes ----------
    coloc_matching.form.type.boolean:
        class: ColocMatching\CoreBundle\Form\Type\BooleanType
        tags:
            - { name: "form.type", alias: "boolean" }
            
    coloc_matching.form.type.address:
        class: ColocMatching\CoreBundle\Form\Type\AddressType
        tags:
            - { name: "form.type", alias: "address" }
            

    # ----------- Factories -----------
    coloc_matching.core.rest_response_factory:
        class: ColocMatching\CoreBundle\Controller\Rest\RestResponseFactory
        arguments: ["@request_stack"]
        
    coloc_matching.core.filter_factory:
        class: ColocMatching\CoreBundle\Repository\Filter\FilterFactory
        arguments: ["@form.factory"]
        
        
    # -------- EventListeners ---------
    coloc_matching.core.user_listener:
        class: ColocMatching\CoreBundle\Listener\UserListener
        arguments: 
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener" }
