services:
    # ----------  Providers  ----------
    coloc_matching.core.user_provider:
        class: ColocMatching\CoreBundle\Security\User\UserProvider
        arguments: ["@coloc_matching.core.user_manager"]

        
    # ----------- Validator -----------
    coloc_matching.core.entity_validator:
        class: ColocMatching\CoreBundle\Validator\EntityValidator
        arguments: ["@logger", "@form.factory"]


    # ------------ Managers -----------
    coloc_matching.core.user_manager:
        class: ColocMatching\CoreBundle\Manager\User\UserManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:User\\User"
            - "@coloc_matching.core.entity_validator"
            - "@security.password_encoder"
            - "@logger"
        lazy: true
        
    coloc_matching.core.announcement_manager:
        class: ColocMatching\CoreBundle\Manager\Announcement\AnnouncementManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Announcement\\Announcement"
            - "@coloc_matching.core.entity_validator"
            - "@logger"
        lazy: true
        
    coloc_matching.core.historic_announcement_manager:
        class: ColocMatching\CoreBundle\Manager\Announcement\HistoricAnnouncementManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Announcement\\HistoricAnnouncement"
            - "@logger"
        lazy: true
        
    coloc_matching.core.group_manager:
        class: ColocMatching\CoreBundle\Manager\Group\GroupManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Group\\Group"
            - "@coloc_matching.core.entity_validator"
            - "@logger"
        lazy: true
        
    coloc_matching.core.announcement_visit_manager:
        class: ColocMatching\CoreBundle\Manager\Visit\VisitManager
        arguments: 
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Visit\\AnnouncementVisit"
            - "@logger"
        lazy: true

    coloc_matching.core.user_visit_manager:
        class: ColocMatching\CoreBundle\Manager\Visit\VisitManager
        arguments:
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Visit\\UserVisit"
            - "@logger"
        lazy: true

    coloc_matching.core.group_visit_manager:
        class: ColocMatching\CoreBundle\Manager\Visit\VisitManager
        arguments:
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Visit\\GroupVisit"
            - "@logger"
        lazy: true

    coloc_matching.core.announcement_invitation_manager:
        class: ColocMatching\CoreBundle\Manager\Invitation\InvitationManager
        arguments:
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Invitation\\AnnouncementInvitation"
            - "@coloc_matching.core.entity_validator"
            - "@logger"
        lazy: true

    coloc_matching.core.group_invitation_manager:
        class: ColocMatching\CoreBundle\Manager\Invitation\InvitationManager
        arguments:
            - "@doctrine.orm.entity_manager"
            - "CoreBundle:Invitation\\GroupInvitation"
            - "@coloc_matching.core.entity_validator"
            - "@logger"
        lazy: true
        
        
    # ----------- FormTypes ----------
    coloc_matching.form.type.boolean:
        class: ColocMatching\CoreBundle\Form\Type\BooleanType
        tags:
            - { name: "form.type", alias: "boolean" }
            
    coloc_matching.form.type.address:
        class: ColocMatching\CoreBundle\Form\Type\AddressType
        tags:
            - { name: "form.type", alias: "address" }
            

    # ----------- Factories -----------
    coloc_matching.core.filter_factory:
        class: ColocMatching\CoreBundle\Repository\Filter\FilterFactory
        arguments: ["@form.factory"]
        
        
    # -------- EventListeners ---------
    coloc_matching.core.user_listener:
        class: ColocMatching\CoreBundle\Listener\UserListener
        arguments: 
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener", event: postPersist }
            
    coloc_matching.core.announcement_listener:
        class: ColocMatching\CoreBundle\Listener\AnnouncementListener
        arguments: 
            - "@coloc_matching.core.historic_announcement_manager"
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener", event: preRemove }        
    
    coloc_matching.core.updatable_listener:
        class: ColocMatching\CoreBundle\Listener\UpdatableListener
        arguments: 
            - "@logger"
        tags:
            - { name: "doctrine.orm.entity_listener", event: prePersist }
            - { name: "doctrine.orm.entity_listener", event: preUpdate }
            
    coloc_matching.core.visitable_event_subscriber:
        class: ColocMatching\CoreBundle\Listener\VisitableEventSubscriber
        arguments:
            - "@coloc_matching.core.announcement_visit_manager"
            - "@coloc_matching.core.group_visit_manager"
            - "@coloc_matching.core.user_visit_manager"
            - "@logger"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.announcement.visited" }
            - { name: "kernel.event_subscriber", event: "coloc_matching.group.visited" }
            - { name: "kernel.event_subscriber", event: "coloc_matching.user.visited" }
