imports:
    - { resource: "@CoreBundle/Resources/config/listeners.yml" }
    - { resource: "@CoreBundle/Resources/config/managers.yml" }
    - { resource: "@CoreBundle/Resources/config/mappers.yml" }
    - { resource: "@CoreBundle/Resources/config/commands.yml" }

services:
    # ----------  Security  ----------
    coloc_matching.core.user_provider:
        class: ColocMatching\CoreBundle\Security\User\UserProvider
        arguments:
            - "@doctrine.orm.entity_manager"

    coloc_matching.core.jwt_token_encoder:
        class: ColocMatching\CoreBundle\Security\User\JwtEncoder
        arguments:
            - "@logger"
            - "@coloc_matching.core.user_dto_manager"
            - "@doctrine.orm.entity_manager"
            - "@lexik_jwt_authentication.jwt_manager"
            - "@lexik_jwt_authentication.extractor.authorization_header_extractor"

        
    # ----------- Validator -----------
    coloc_matching.core.form_validator:
        class: ColocMatching\CoreBundle\Validator\FormValidator
        arguments: ["@logger", "@form.factory"]

    coloc_matching.core.user_password_validator:
        class: ColocMatching\CoreBundle\Validator\Constraint\UserPasswordValidator
        arguments: ["@security.password_encoder"]
        tags:
            - { name: "validator.constraint_validator" }

    coloc_matching.core.unique_value_validator:
        class: ColocMatching\CoreBundle\Validator\Constraint\UniqueValueValidator
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@annotations.reader"
        tags:
            - { name: "validator.constraint_validator" }

    coloc_matching.core.address_value_validator:
        class: ColocMatching\CoreBundle\Validator\Constraint\AddressValueValidator
        arguments: ["@coloc_matching.form.type.address_type_to_address_transformer"]
        tags:
            - { name: "validator.constraint_validator" }


    # ----------- FormTypes ----------
    coloc_matching.form.type.boolean:
        class: ColocMatching\CoreBundle\Form\Type\BooleanType
        tags:
            - { name: "form.type", alias: "boolean" }
            
    coloc_matching.form.type.address:
        class: ColocMatching\CoreBundle\Form\Type\AddressType
        arguments: ["@coloc_matching.form.type.address_type_to_address_transformer"]
        tags:
            - { name: "form.type", alias: "address" }

    coloc_matching.form.type.address_type_to_address_transformer:
        class: ColocMatching\CoreBundle\Form\DataTransformer\AddressTypeToAddressTransformer
        arguments:
            - "%geocoder.region%"
            - "%geocoder.google.api_key%"
            

    # ----------- Others -----------
    coloc_matching.core.event_dispatcher_visitor:
        class: ColocMatching\CoreBundle\Service\EventDispatcherVisitor
        arguments:
            - "@logger"
            - "@event_dispatcher"
            - "@request_stack"
            - "@coloc_matching.core.jwt_token_encoder"


    coloc_matching.core.mailer:
        class: ColocMatching\CoreBundle\Service\MailerService
        arguments:
            - "@logger"
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"


    coloc_matching.core.password_requester:
        class: ColocMatching\CoreBundle\Service\PasswordRequester
        arguments:
            - "@logger"
            - "@coloc_matching.core.user_dto_manager"
            - "@coloc_matching.core.user_token_dto_manager"
            - "@coloc_matching.core.form_validator"
            - "@coloc_matching.core.mailer"
            - "@router"


    coloc_matching.core.user_status_handler:
        class: ColocMatching\CoreBundle\Service\UserStatusHandler
        arguments:
            - "@logger"
            - "@doctrine.orm.entity_manager"
            - "@event_dispatcher"


    coloc_matching.core.role:
        class: ColocMatching\CoreBundle\Service\RoleService
        arguments: ["@security.role_hierarchy"]
