<select class="form-control" id="sorting" name="sort">
	<option data-sort="id" data-order="ASC" selected>{{ "label.sorting.default"|trans }}</option>
	<option data-sort="createdAt" data-order="DESC">{{ "label.info.announcements.latest"|trans }}</option>
	<option data-sort="rentPrice" data-order="ASC">{{ "announcements.rent_price.sorting.asc"|trans }}</option>
	<option data-sort="rentPrice" data-order="DESC">{{ "announcements.rent_price.sorting.desc"|trans }}</option>
</select>