imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }


# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr
    upload_directory: "%kernel.project_dir%/web/uploads"

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: "%kernel.debug%"
    form:
        # FALSE car RESTful
        csrf_protection: false
    validation:
        enable_annotations: true
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session: ~
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        #handler_id:  session.handler.native_file
        #save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:  ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true
    serializer:
        enabled: false


# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    paths:
        'src/ColocMatching/AdminBundle/Resources/views/includes/': "includes"
        

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        metadata_cache_driver: apcu
        query_cache_driver: apcu
        result_cache_driver: apcu

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }


# FOSRestBundle Configuration
fos_rest:
    disable_csrf_role: ROLE_API
    param_fetcher_listener: true
    body_listener: true
    format_listener:
        enabled: true
        rules:
            - { path: '^/rest', priorities: ['json'], fallback_format: 'json', prefer_extension: false }
            - { path: '^/', priorities: ['html'], fallback_format: 'html' }
    access_denied_listener:
        json: true
    allowed_methods_listener: true
    serializer:
        serialize_null: true
    view:
        formats:
            json: true
            html: false
            xml: true
        templating_formats:
            html: true
        mime_types:
            json: ['application/json']
        force_redirects:
            html: true
        failed_validation: HTTP_BAD_REQUEST
        default_engine: twig
    routing_loader:
        include_format: false
        default_format: json
    versioning: true
    zone:
        - { path: ^/rest/* }
    exception:
        enabled:    true
        #exception_controller: '\ColocMatching\RestBundle\Controller\Rest\v1\ExceptionController::showAction'
        codes:
            'ColocMatching\CoreBundle\Exception\EntityNotFoundException':    HTTP_NOT_FOUND
            'ColocMatching\CoreBundle\Exception\InvalidFormException':       HTTP_UNPROCESSABLE_ENTITY
            'ColocMatching\CoreBundle\Exception\InvalidParameterException':  HTTP_BAD_REQUEST
            'Doctrine\ORM\OptimisticLockException':                          HTTP_CONFLICT
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': HTTP_NOT_FOUND
        messages:
            'ColocMatching\CoreBundle\Exception\EntityNotFoundException':    true
            'ColocMatching\CoreBundle\Exception\InvalidFormException':       true
            'ColocMatching\CoreBundle\Exception\InvalidParameterException':  true
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': true

            
# JMSSerialiserBundle Configuration
jms_serializer:
    handlers:
        datetime:
            default_format: "Y-m-d"
            default_timezone: "UTC"

    
# LexikJWTAuthenticationBundle Configuration
lexik_jwt_authentication:
    private_key_path: '%jwt_private_key_path%'
    public_key_path:  '%jwt_public_key_path%'
    pass_phrase:      '%jwt_key_pass_phrase%'
    token_ttl:        '%jwt_token_ttl%'
    user_identity_field: username
    encoder:
        service: lexik_jwt_authentication.encoder.default
        signature_algorithm: RS256
        crypto_engine: openssl
    token_extractors:
        authorization_header:
            enabled: true
            prefix: Bearer
            name: Authorization
        cookie:
            enabled: false
            name: BEARER
        query_parameter:
            enabled: true
            name: bearer

           
# BazingaGeocoderBundle Configuration
bazinga_geocoder:
    fake_ip:
        ip: 123.345.643.133
        priority: 128
    providers:
        cache:
            adapter: coloc_matching.cache.adapter
            provider: google_maps
        google_maps: ~

 
# AsseticBundle Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: "%kernel.debug%"
    filters:
        cssrewrite: ~


# NelmioCorsBundle Configuration
nelmio_cors:
    paths:
        '^/rest/':
            allow_origin: ['*']
            allow_methods: ['POST', 'PUT', 'GET', 'DELETE']
            max_age: 3600
        '^/':
            origin_regex: true
            allow_origin: ['^http://localhost:[0-9]+']
            allow_methods: ['POST', 'PUT', 'GET', 'DELETE']
            max_age: 3600
            hosts: ['^rest\.']