{% block body %}
    {% set name = user.firstName ~ ' ' ~ user.lastName %}

    <p>{{- 'mail.body.hello'|trans({ '%name%': name }) -}}</p>
    <p>{{- 'mail.body.user.password_request'|trans({ '%link%': requestUrl })|raw -}}</p>
    <p>{{- 'mail.body.url_problem'|trans({ '%link%': requestUrl })|raw -}}</p>
    <p>{{- 'mail.body.footer'|trans|raw -}}</p>
{% endblock body %}

{% block signature %}
    {# TODO add a signature #}
{% endblock signature %}