{% extends 'mail/layout_base_mail.html.twig' %}

{% block content %}
    {% set requestUrl = path('coloc_matching.lost_password_url', { 'token': token }) %}

    <p>{{- 'mail.body.user.password_request'|trans({ '%link%': requestUrl })|raw|nl2br -}}</p>
    <p>{{- 'mail.body.url_problem'|trans({ '%link%': requestUrl })|nl2br -}}</p>
{% endblock content %}