<select class="form-control" id="sorting" name="sort">
    <option data-sort="id" data-order="asc" selected>{{ "label.sorting.default"|trans }}</option>
    <option data-sort="createdAt" data-order="desc">{{ "label.info.groups.latest"|trans }}</option>
    <option data-sort="budget" data-order="asc">{{ "groups.budget.sorting.asc"|trans }}</option>
    <option data-sort="budget" data-order="desc">{{ "groups.budget.sorting.desc"|trans }}</option>
</select>