{% block body %}
    {% set creator = announcement.creator %}
    {% set name = creator.firstName ~ ' ' ~ creator.lastName %}

    <p>{{- 'mail.body.hello'|trans({ '%recipientName%': name }) -}}</p>
    {{- 'mail.body.announcement.deletion'|trans({
        '%title%': announcement.title,
        '%name%': name
    })|raw -}}
    <p>{{- 'mail.body.footer'|trans|raw -}}</p>
{% endblock body %}

{% block signature %}
    {# TODO add a signature #}
{% endblock signature %}