{#
	Parameters:
		- userPref: an instance of UserPreference
		- announcementPref: an instance of AnnouncementPreference
 #}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#user-pref" data-toggle="tab">{{ "users.preferences.user.label"|trans }}</a>
        </li>
        <li>
            <a href="#announcement-pref" data-toggle="tab">{{ "users.preferences.announcement.label"|trans }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="user-pref">
            {% include "@includes/page/User/display/user_preferences_info.html.twig" with {"userPref": userPref} %}
        </div>

        <div class="tab-pane" id="announcement-pref">
            {% include "@includes/page/User/display/announcement_preferences_info.html.twig"
            with {"announcementPref": announcementPref} %}
        </div>
    </div>
</div>