
<div class="pull-right hidden-xs">
	<strong>Version</strong> 1.0
</div>

<strong>Copyright &copy; 2017 <a href="https://almsaeedstudio.com/themes/AdminLTE" target="_blank">ColocMatching</a>.</strong> All rights reserved.