services:
    coloc_matching.rest.exception_event_subscriber:
        class: ColocMatching\RestBundle\Listener\ExceptionEventSubscriber
        arguments: ["@fos_rest.exception.codes_map"]
        tags:
            - { name: "kernel.event_subscriber" }


    coloc_matching.core.visitable_event_subscriber:
        class: ColocMatching\RestBundle\Listener\VisitableEventSubscriber
        arguments:
            - "@logger"
            - "@coloc_matching.core.announcement_visit_dto_manager"
            - "@coloc_matching.core.group_visit_dto_manager"
            - "@coloc_matching.core.user_visit_dto_manager"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.announcement.visited" }
            - { name: "kernel.event_subscriber", event: "coloc_matching.group.visited" }
            - { name: "kernel.event_subscriber", event: "coloc_matching.user.visited" }


    coloc_matching.rest.registration_event_subscriber:
        class: ColocMatching\RestBundle\Listener\RegistrationEventSubscriber
        arguments:
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@lexik_jwt_authentication.encoder"
            - "@router"
            - "@logger"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.user.registered" }


    coloc_matching.core.delete_announcement_event_subscriber:
        class: ColocMatching\RestBundle\Listener\DeleteAnnouncementEventSubscriber
        arguments:
            - "@logger"
            - "@coloc_matching.mail.html_mail_sender"
            - "@translator"
            - "%mailer_no_reply%"
            - "@doctrine.orm.entity_manager"
            - "@coloc_matching.core.announcement_visit_dto_manager"
        tags:
            - { name: "kernel.event_subscriber", event: "coloc_matching.announcement.deleted" }
