imports:
    - { resource: "controllers.yml" }
    - { resource: "listeners.yml" }


services:
    # ----------- Factories -----------
    coloc_matching.rest.response_factory:
        class: ColocMatching\RestBundle\Controller\Response\ResponseFactory
        arguments: ["@request_stack"]


    # ------------- Utilities ----------------
    coloc_matching.rest.visit_utils:
        class: ColocMatching\RestBundle\Controller\Rest\v1\utils\VisitUtils
        arguments:
            - "@coloc_matching.core.announcement_visit_dto_manager"
            - "@coloc_matching.core.group_visit_dto_manager"
            - "@coloc_matching.core.user_visit_dto_manager"