<!-- Logo -->
<a href="{{ path('admin_dashboard') }}" class="logo">
	<span class="logo-mini">
		C<b>M</b>
	</span> 
	<span class="logo-lg">
		Coloc<b>Matching</b>
	</span>
</a>

<!-- Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
	<!-- Sidebar toggle button-->
	<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		<span class="sr-only">Toggle navigation</span>
	</a>
	
	<!-- Top menu -->
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li>
				<a href="{{ logout_path('admin') }}">
					<i class="fa fa-sign-out"></i> <span>{{- "logout.label"|trans -}}</span>
				</a>
			</li>
		</ul>
	</div>
</nav>