<select class="form-control" id="sorting" name="sort">
	<option data-sort="id" data-order="asc" selected>{{ "label.sorting.default"|trans }}</option>
	<option data-sort="createdAt" data-order="desc">{{ "label.info.users.latest"|trans }}</option>
</select>