{% extends 'mail/layout_base_mail.html.twig' %}

{% block content %}
    {% set creatorName = from.getDisplayName() %}
    {% set link = absolute_url(path('coloc_matching.announcement_url', { 'id': id })) %}

    <p>
        {{- 'mail.body.invitation.answer.search.announcement'|trans({
            '%creatorName%': creatorName,
            '%link%': link
        })|raw|nl2br -}}
    </p>
    <p>{{- 'mail.body.url_problem'|trans({ '%link%': link })|nl2br -}}</p>
{% endblock content %}
