{% extends ':mail:layout_base_mail.html.twig' %}

{% block content %}
    {% set fromName = from.getDisplayName() %}
    {% set link = path('coloc_matching.user_url', { 'id': from.id }) %}

    <p>
        {{- 'mail.body.invitation.search.group'|trans({
            '%name%': fromName,
            '%link%': link
        })|raw -}}
    </p>
    <blockquote>{{- message -}}</blockquote>
    <p>{{- 'mail.body.url_problem'|trans({ '%link%': link }) -}}</p>
{% endblock content %}
