{% extends 'mail/layout_base_mail.html.twig' %}

{% block content %}
    {% set fromName = from.getDisplayName() %}
    {% set link = url('coloc_matching.user_url', { 'id': from.id }) %}

    <p>
        {{- 'mail.body.invitation.search.group'|trans({
            '%name%': fromName,
            '%link%': link
        })|raw -}}
    </p>
    {% if message is not empty %}
        <blockquote>{{- message|nl2br -}}</blockquote>
    {% endif %}
    <p>{{- 'mail.body.url_problem'|trans({ '%link%': link })|nl2br -}}</p>
{% endblock content %}
